/ShellAndKelvin/*.db
/ShellAndKelvin/*.json
/ShellAndKelvin/*.msh
/ShellAndKelvin/*.pre
/ShellAndKelvin/*.res
/ShellAndKelvin/*.txt
/ShellAndKelvin/*.pos

/SphereBench/OneSphere/*.msh
/SphereBench/OneSphere/*.db
/SphereBench/OneSphere/*.json
/SphereBench/OneSphere/*.pre
/SphereBench/OneSphere/*.res
/SphereBench/OneSphere/*.pos
/SphereBench/OneSphere/output.txt

/SphereBench/OneSphere/Momentum/*.msh
/SphereBench/OneSphere/Momentum/*.db
/SphereBench/OneSphere/Momentum/*.json
/SphereBench/OneSphere/Momentum/*.pre
/SphereBench/OneSphere/Momentum/*.res
/SphereBench/OneSphere/Momentum/*.pos
/SphereBench/OneSphere/output.txt

/SphereBench/OneSphere/Momentum/Minkowski/*.msh
/SphereBench/OneSphere/Momentum/Minkowski/*.db
/SphereBench/OneSphere/Momentum/Minkowski/*.json
/SphereBench/OneSphere/Momentum/Minkowski/*.pre
/SphereBench/OneSphere/Momentum/Minkowski/*.res
/SphereBench/OneSphere/Momentum/Minkowski/*.pos

/SphereBench/TwoSpheres/*.msh
/SphereBench/TwoSpheres/*.db
/SphereBench/TwoSpheres/*.json
/SphereBench/TwoSpheres/*.pre
/SphereBench/TwoSpheres/*.res
/SphereBench/TwoSpheres/*.pos
/SphereBench/TwoSpheres/output.txt
