/ShellAndKelvin/*.db
/ShellAndKelvin/*.json
/ShellAndKelvin/*.msh
/ShellAndKelvin/*.pre
/ShellAndKelvin/*.res
/ShellAndKelvin/*.txt
/ShellAndKelvin/*.pos

/SphereBench/OneSphere/*.msh
/SphereBench/OneSphere/*.db
/SphereBench/OneSphere/*.json
/SphereBench/OneSphere/*.pre
/SphereBench/OneSphere/*.res
/SphereBench/OneSphere/*.pos
/SphereBench/OneSphere/output.txt

/SphereBench/TwoSpheres/*.msh
/SphereBench/TwoSpheres/*.db
/SphereBench/TwoSpheres/*.json
/SphereBench/TwoSpheres/*.pre
/SphereBench/TwoSpheres/*.res
/SphereBench/TwoSpheres/*.pos
/SphereBench/TwoSpheres/output.txt
