/ShellAndKelvin/*.db
/ShellAndKelvin/*.json
/ShellAndKelvin/*.msh
/ShellAndKelvin/*.pre
/ShellAndKelvin/*.res
/ShellAndKelvin/*.txt
/ShellAndKelvin/*.pos

/SphereBench/*.msh
/SphereBench/*.db
/SphereBench/*.json
/SphereBench/*.pre
/SphereBench/*.res
/SphereBench/*.pos
/SphereBench/output.txt
